$primary: #FFA800;
$accent: #E5E5E5;
$secondary: #616161;
$info: #008080;
$warning: #ffb818;
$error: #f1600b;
$success: #2bb673;
$text-color: #202223;
$btn-text-color: white;
$pending: #A4E8F2;
$cancelled: #FED3D1;
$completed: #AEE9D1;


$border-radius: 10px;
$font-lg: 3rem;
$font-md: 1.5rem;
$font-sm: 0.85rem;
$font-base: 1rem;


$font-light: 500;
$font-medium: 500;
$font-bold: 700;
$text-color-alternate: $primary